<div class="d-flex flex-column justify-content-center align-items-center bg-light text-dark">
  <div class="w-50 text-center bg-info text-white display-1 mt-4 mb-4 rounded">
    {{ stopwatchLogicService.stopwatchValue * 1000 | date: 'HH:mm:ss':'UTC' }}
  </div>
  <div>
    <button (click)='onStartStopClick()' type="button" class="btn btn-outline-info m-2">
      Start / Stop
    </button>
    <button (click)='onWaitClick()' #waitButton type="button" class="btn btn-outline-info m-2">
      Wait
    </button>
    <button (click)='onResetClick()' type="button" class="btn btn-outline-info m-2">
      Reset
    </button>
  </div>
</div>